
.layout__main{
    min-height:100vh;
    .header{
        display:flex;
        align-items: center;
        .logo{
            padding-left: 10px;
            margin-right:60px;
            margin-top: 20px;
        }
        .menu{
            flex:1;
            margin-left:auto;
            a{
                color:#fff;
            }
            .ant-menu-item-selected a{
                color:#fff;
            }
        }
        &>span{
            color:#fff;
            margin-left:10px;
        }
    }
}

  
  .site-layout-background {
    background: #fff;
  }
