@import '~antd/dist/antd.css';

.home{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width:500px;
    }
    h1{
        font-size: 32px;
    }
    .btn_wrapper{
        width:330px;
        button{
            margin:5px 0;
        }
    }
}
.res_home{
    text-align: center;
}
